<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    {{>styles}}
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="header">
            <h1>Welcome to The Bharal Blogs {{firstname}}</h1>
        </div>

        <div class="blog">
            <h2>Tech Blog 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 5</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 6</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 7</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 8</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 9</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>

        <div class="blog">
            <h2>Tech Blog 10</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 The Bharal Blogs. All Rights Reserved.</p>
    </div>

</body>

</html>
